// @import "~bootstrap/scss/bootstrap";
body{
  background-color: darkslateblue;
  margin: 0;
}

.game-container {
  position: relative;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(40, 43, 116);
  z-index: 0;
}

.tile {
  display: block;
  // border: 1px solid #000;
  position: absolute;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  line-height: 100%;
  transition: background-color .5s;
}

.tile.selected {
  // background-color: #f5f230;
  border: 3px solid #fff;
}

.tile.planned {
  background-color: rgb(170, 224, 69);
}

.tile.trail {
  background-color: rgb(65, 240, 45);
}

.tile.next {
  background-color: #f53051;
}

.tile.blocked {
  background-color: #f53051;
  border: 3px solid #f53051;
}
.rock {
  background-color: #838181;
}
.water {
  background-color: #2093d5;
}
.path {
  background-color: rgba(81, 211, 67, 1);
}

.Cosita {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
  &.selected {
    background-color: #f5f230;

  }
}

#inspector {
  width: 300px;
  min-height: 200px;
  padding: 15px;
  color: #fff;
  position: fixed;
  top: 50px;
  right: 0;
  background-color: #000;
}